.nav_sav{
    background-color:rgb(203, 228, 241);
    box-shadow: 0 0 6px black;
    display: block;
    /*position: sticky;*/
    /*padding: 20px 20px;*/
    text-align: center;
    /*margin: 20px;*/
    border-radius: 10px;
    /*border-style: ridge;
    border-color: rgba(5, 118, 255, 0.76);
    border-width: 2px;*/
}

.nav_linkek{
    justify-content: space-around;
}

.nav_linkek a{
    position: relative;
    text-decoration: none;
    color: #000;
}

.nav_linkek a::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav_linkek a:hover{
    cursor: pointer;
    text-shadow: 0 0 2px rgba(5, 118, 255, 0.76);
}

.nav_linkek a:hover::before{
    transform: scaleX(1);
}

.nav_link{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
    display: inline-block;
    padding-inline: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.grid{
    display: grid;
    box-sizing: border-box;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 250px;
    padding-right: 250px;
}

.fopanel{
    background-color:rgb(203, 228, 241);
    display: flexbox;
    position: relative;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 6px black;
}

.szovegdoboz{
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 66%;
    height: auto;
    background-color: rgba(204, 204, 204, 1);
    border-radius: 10px;
    padding: 30px;
    text-align: left;
    float: right;
}

.fopanel img{
    width: 33%;
    height: auto;
    border-radius: 10px;
    /*border-style: ridge;
    border-color: rgba(122, 185, 220, 1);
    border-width: 4px;
    border: 4px solid rgba(122, 185, 220, 1);
    box-shadow: 0 0 6px black;*/
}

.keppanel{
    background-color:rgb(203, 228, 241);
    display: flexbox;
    position: relative;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 6px black;
}

.keppanel img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.kapcsolatpanel{
    background-color:rgb(203, 228, 241);
    display: flexbox;
    position: relative;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 6px black;
}

.kapcsolatpanel img{
    width: 33%;
    height: auto;
    border-radius: 10px;
}

.elerhetoseg{
    display: flexbox;
    position: relative;
    box-sizing: border-box;
    height: auto;
    width: 66%;
    float: right;
}

.email b, .email p, .email img{
    margin-top: 50px;
    display: inline-flex;
}

.email img{
    height: auto;
    width: auto;
}

.instagram b, .instagram p, .instagram img{
    margin-top: 50px;
    display: inline-flex;
}

.instagram a{
    font-size: 20px;
    text-decoration: none;
    color: #000;
}

.instagram a:hover{
    cursor: pointer;
    text-shadow: 0 0 2px rgba(5, 118, 255, 0.76);
}

.dokumentaciopanel{
    background-color:rgb(203, 228, 241);
    display: flexbox;
    position: relative;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 6px black;
}

.dokumentaciopanel img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

table, th, td{
    border-color: black;
    border-radius: 10px;
    border-style: ridge;
    border-width: 2px;
}

th, td{
    border-color: black;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
}

.dokumentaciopanel ul li a{
    color: #000;
    text-decoration: none;
}

.dokumentaciopanel ul li a:hover{
    cursor: pointer;
    text-shadow: 0 0 2px rgba(5, 118, 255, 0.76);
}

#felgombid{
    display: none;
    cursor: pointer;
    position: fixed;
    right: 50%;
    left: 50%;
    bottom: 20px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    font-size: 20px;
    font-weight: bolder;
    background-color: rgb(203, 228, 241);
    box-shadow: 0 0 6px black;
    align-items: center;
    line-height: 50%;
}

#felgombid a{
    text-decoration: none;
    color: #000;
}

#felgombid:hover{
    border-style: ridge;
    border-width: 2px;
    border-color: rgba(5, 118, 255, 0.76);
    background-color: rgba(122, 185, 220, 1);
    transition-duration: .3s;
}